/* Import Tailwind CSS */
@import 'tailwindcss';

/* Cybertron Font */
@font-face {
  font-family: 'Cybertron';
  src: url('/fonts/Cybertron Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

/* VitePress Theme Variables */
:root {
    --vp-c-brand-1: #28602C; /* Primary */
    --vp-c-brand-2: #96BE57; /* Secondary */
    --vp-c-accent-1: #121212; /* Accent */
    --vp-c-bg: #F4F4F4; /* Background */

    /* Landing page colors */
    --remsfal-color: #2e6022;
    --htw-color: #76B900;
    --button-color: #2e6022;
    --button-border-color: #2e6022;
    --button-color-hover: #245019;
    --button-border-color-hover: #245019;
}

:root.dark {
    --vp-c-brand-1: #28602C; /* Primary (Dark Mode) */
    --vp-c-brand-2: #96BE57; /* Secondary */
    --vp-c-bg: #121212; /* Background (Dark Mode) */

    /* Landing page colors (dark mode) */
    --remsfal-color: #2e6022;
    --htw-color: #76B900;
    --button-color: #2e6022;
    --button-border-color: #2e6022;
    --button-color-hover: #245019;
    --button-border-color-hover: #245019;
}

.font-cybertron {
    font-family: 'Cybertron', sans-serif;
    display: block;
}
