name: "CI Build"

on:
  push:
    branches: ["main"]
  pull_request:
    types: [opened, synchronize, reopened]

permissions:
  contents: read

jobs:
  continuous-integration:
    name: "Continuous Integration Build"
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Build project
        uses: remsfal/.github/.github/actions/build-frontend@main

      # Generate reports for Sonar Analysis
      - name: Build ESLint Report
        run: npm run lint:report
      - name: Upload ESLint Reports
        uses: actions/upload-artifact@v6
        with:
          name: eslint-${{ github.run_id }}
          path: reports/eslint-report.json
          retention-days: 1
          if-no-files-found: warn

  check-branches:
    name: "Check Pull Request Conditions"
    runs-on: ubuntu-latest
    if: github.event_name == 'pull_request'
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Check PR branches
        env:
          HEAD_REF: ${{ github.head_ref }}
          BASE_REF: ${{ github.base_ref }}
        run: |
          if [ "$HEAD_REF" == "main" ] && [ "$BASE_REF" == "main" ]; then
            echo "Pull Requests to main branch are only allowed from developer branches that are not named <main>."
            exit 1
          fi
